In [30]:
# Importing Libraries to Python - added MySQLdb to remove error when connecting to Database
import pandas as pd
from sqlalchemy import create_engine, text
import pymysql

In [31]:
#Importing BA CSV data
ba_data_df = pd.read_csv('ba_stock_data.csv')

In [32]:
#Importing LMT CSV data
lmt_data_df = pd.read_csv('lmt_stock_data.csv')

In [33]:
#Importing RTX CSV data
rtx_data_df = pd.read_csv('rtx_stock_data.csv')

In [34]:
#Importing SPY CSV data
spy_data_df = pd.read_csv('spy_stock_data.csv')

In [35]:
#Database connection info
raw_host = "isba-dev-01.c5ow64oeey8b.us-east-1.rds.amazonaws.com"
raw_username = "admin"
raw_password = "isba_4715"
raw_schema = "sql_project"

# Establish a connection to the MySQL database
connection = pymysql.connect(
    host=raw_host,
    user=raw_username,
    password=raw_password,
    database=raw_schema
)
raw_engine = create_engine(f'mysql+pymysql://{raw_username}:{raw_password}@{raw_host}/{raw_schema}')

In [36]:
#importing boeing data into mysql
ba_table ='ba_stock_data.csv'

ba_data_df.to_sql(name=ba_table, con=raw_engine, if_exists="replace", index=False)

293

In [37]:
#importing lmt data into mysql
lmt_table ='lmt_stock_data.csv'

lmt_data_df.to_sql(name=lmt_table, con=raw_engine, if_exists="replace", index=False)

293

In [38]:
#importing rtx data into mysql
rtx_table ='rtx_stock_data.csv'

rtx_data_df.to_sql(name=rtx_table, con=raw_engine, if_exists="replace", index=False)

293

In [39]:
#importing spy data into mysql
spy_table ='spy_stock_data.csv'

spy_data_df.to_sql(name=spy_table, con=raw_engine, if_exists="replace", index=False)

293

# How are sales in top aerospace and defense companies performing relative to the S&P 500 over the last 25 years? Who are the most successful + leaders in the industry?

In [40]:
#Running SQL Query in Pandas
sql_query = "SELECT lsd.date, lsd.closing_price AS lmt_price, bsd.closing_price AS ba_price, rsd.closing_price AS rtx_price, ssd.closing_price AS spy_price FROM ba_stock_data bsd JOIN lmt_stock_data lsd ON bsd.date = lsd.`date` JOIN rtx_stock_data rsd ON rsd.date = lsd.date JOIN spy_stock_data ssd ON ssd.date = rsd.date;"

# Read data from MySQL into a DataFrame
df = pd.read_sql(sql_query, con=raw_engine)

In [41]:
#SQL Query Results:
df

           date  lmt_price  ba_price  rtx_price  spy_price
0    2024-04-24     459.13    164.34     101.06   505.4600
1    2024-03-28     454.87    192.99      97.53   523.0700
2    2024-02-29     428.24    203.72      89.67   508.0800
3    2024-01-31     429.41    211.04      91.12   482.8800
4    2023-12-29     453.24    260.66      84.14   475.3100
..          ...        ...       ...        ...        ...
288  2000-04-28      24.88     39.69      62.19   145.0937
289  2000-03-31      20.44     37.81      63.19   150.3750
290  2000-02-29      17.44     36.94      50.94   137.4375
291  2000-01-31      18.50     44.50      52.94   139.5625
292  1999-12-31      21.88     41.44      65.00   146.8750

[293 rows x 5 columns]

# Insight: LMT has seen roughly 20x growth, BA has seen roughly 4x growth, rtx roughly 55% up relative to 3.5x growth from S&P 500. LMT likely taking actions that promote stable long term growth

# Recommendation: LMT projects best for stable future growth, otherwise S&P 500 seems the same or better + safer. Aerospace and defense companies should emulate what makes LMT successful, whether that be product offerings, strong leadership, etc.

# Prediction: More successful business operations (if implemented correctly)

In [ ]:
# Which stocks have seen the greatest growth since 2020?

In [42]:
#Running SQL Query in Pandas
sql_query_2 = "WITH ranked_prices AS (SELECT ssd.date AS dates, lsd.closing_price AS lmt_price, bsd.closing_price AS ba_price, rsd.closing_price AS rtx_price, ssd.closing_price AS spy_price, ROW_NUMBER() OVER(ORDER BY ssd.date DESC) AS ranking FROM lmt_stock_data lsd JOIN ba_stock_data bsd ON bsd.date = lsd.date JOIN rtx_stock_data rsd ON rsd.date = lsd.date JOIN spy_stock_data ssd ON ssd.date = rsd.date WHERE ssd.date >= '2020-01-01' GROUP BY ssd.date ORDER BY ssd.date DESC) SELECT dates, lmt_price, ba_price, rtx_price, spy_price FROM ranked_prices WHERE ranking = 1 OR ranking = 52;"

# Read data from MySQL into a DataFrame
df_2 = pd.read_sql(sql_query_2, con=raw_engine)

In [44]:
#SQL query results:
df_2

        dates  lmt_price  ba_price  rtx_price  spy_price
0  2024-04-24     459.13    164.34     101.06     505.46
1  2020-01-31     428.12    318.27     150.20     321.73

# Insight: LMT has seen a modest 7% growth compared to steep 50% declines for being and 33% for RTX, all way below S&P 500's 57% growth. Indicator as a whole suggests industry has been on a decline.

# Recommendation: Airline industry suffered one of the harshest declines from COVID - investigate whether they are just slowly recovering or there are negative projections long term. Good place to look could be closer to the accounting or finance side.

# Prediction: Slow market recovery from COVID-19 is the cause - steady growth for 20 years makes me feel optimistic.